.safari-how2{
  white-space: normal;
  border: 1px solid rgba(0,0,0,.5);
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
  border-radius: .25rem;
  background-color: #ffc107;
}
.nudgeImage
{
  position: relative;
  top: 4px;
}


